{% render 'partials/head.liquid' page: "detail"%}
</head>

<body class="art-piece-detailpage">
    {% render 'partials/header.liquid' %}
    <main>
        <div id="container-wrapper">
            <figure class="image-header">
                <img class="hero" src="{{artPiece.headerImage.url}}"
                    alt="Headerafbeelding van kunststuk: {{artPiece.title}}" width="{{artPiece.headerImage.width}}"
                    height="{{artPiece.headerImage.height}}" fetchpriority="high" loading="eager">
            </figure>
            <section class="info-detail">
                <a href="/" class="button-primary"><span aria-hidden="true">←</span> Ga terug</a>
                <h1 class="title-xl">{{artPiece.title}}</h1>
                <p class="info-desc">
                    {{artPiece.description}}
                </p>
            </section>
            <section class="model-detail">
                <h2 class="title-l">Bekijk het kunststuk</h2>
                <figure id="model-alt">
                    <img class="big-img" src="{{artPiece.webImage.url}}" width="{{artPiece.webImage.width}}"
                        height="{{artPiece.webImage.height}}" alt="Afbeelding van kunststuk: {{artPiece.title}}">
                </figure>
                <a class="button-secondary" target="_blank" href="{{artPiece.webImage.url}}">Download afbeelding</a>
            </section>
            <section class="table-detail">
                <h2 class="title-l">Eigenschappen</h2>
                <table>
                    <tbody>
                        <tr>
                            <th class="collapsed">Maker</th>
                            <td class="collapsed">{{artPiece.principalOrFirstMaker}}</td>
                        </tr>
                        <tr>
                            <th class="collapsed">Voltooiingsdatum</th>
                            <td class="collapsed">{{artPiece.dating.presentingDate}}</td>
                        </tr>
                        <tr>
                            <th class="collapsed">Afmetingen</th>
                            <td class="collapsed">
                                {% for dimension in artPiece.dimensions %}
                                    {% if dimension.part != null %}
                                        
                                        {% comment %} Op deze manier wordt elke nieuwe type maat met een nieuw kopje van het onderdeel ingeleid {% endcomment %}
                                        {% if part != dimension.part or forloop.index == 1 %}
                                            {% if forloop.index > 1 %}
                                                
                                            {% endif %}
                                            <strong>{{dimension.part}}: </strong>
                                        {% endif %}
                                        {% assign part = dimension.part %}
                                        
                                    {% endif %}
                                    {{dimension.type}} {{dimension.value}} {{dimension.unit}}

                                {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <th class="collapsed">Materialen</th>
                            <td class="collapsed">
                                {{artPiece.materials}}
                                {% for material in artPiece.materials %}
                                    {{material}}
                                    {% if artPiece.materials.size != forloop.index %}
                                        , {% comment %} lasty dimension no follow up , {% endcomment %}
                                    {% endif %}
                                {% endfor %}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </div>
    </main>
</body>

</html>